
/* ─── WALLET OVERLAY ───────────────────────── */
.wallet-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.wallet-modal {
  position: relative;
  width: 60vw;
  max-width: 650px;

  height: 70vh;
  max-height: 700px;

  background: var(--bg-base);
  border-radius: 16px;
  padding: 24px;

  overflow-y: auto;
}
